<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="./Styles/mainStyle.css">
    <link rel="icon" href="./Images/vilicomLogo.ico">
  
    <title>Начална страница - Виликом</title>
</head>
<body>
    <img src="./Images/vilicomLogo.png" alt="Логото не е налично/The logo is unavailable" text="Logo">
    <h2>Добре дошли във Виликом!</h2>
</body>
</html>